# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.egg-info/
.env

# Virtual environments
.venv/
env/
venv/

# Postgres data
pgdata/

# Docker
*.log
*.pid
*.seed
*.bak

# VS Code
.vscode/

# Project-specific ignores
/01_Business_Brief_and_Star_Shema/P1_feedbck.pdf
/01_Business_Brief_and_Star_Shema/project1_description.pdf
/01_Business_Brief_and_Star_Shema/Star_schema.svg
/02_Airflow_ClickHouse_dbt/dbt/target/
/02_Airflow_ClickHouse_dbt/dbt/.user.yml
/02_Airflow_ClickHouse_dbt/project2_instructions.pdf
/dynamic_TODOs.txt
